.contacts {
    padding: 8rem 0;
}
.contacts__title{
    margin-bottom: 5rem;
    font-size: 6rem;
    line-height: 6.4rem;
}
.container-fluid {
}
.row {
}
.contacts-block {
    align-items: center;
}
.col-xl-6 {
}
.contacts-block__info {
}
.contacts-block__item {
    margin-bottom: 3rem;
}
.contacts-block__item-title {
    font-size: 3.4rem;
    line-height: 3.8rem;
    color: #73aebe;
}
.contacts-block__item-text {
    font-size: 2.8rem;
    line-height: 1.4;
}