@media(max-width: 1910px){
    .slider-box__right-title{
        max-width: 60rem;
    }
    .slider-box .slick-dots {
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .slider-box .slick-dots li button{
        padding: 0;
        font-size: 0;
        border: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #8f8c8c;
    }
    .slider-box{
        margin: 0 auto;
        max-width: 120rem;
    }
    .problem-box__item--left .problem-box__item-text::after, .problem-box__item--right .problem-box__item-text::before{
        width: 110px;
    }
    .problem-box__item--left .problem-box__item-text::after{
        right: -130px;
    }
    .problem-box__item--right .problem-box__item-text::before{
        left: -130px;
    }
    .stiky-menu__list{
        margin-bottom: 0;
        margin-right: 33rem;
        flex-wrap: wrap;
        gap: 5rem;
    }
   

}


@media(max-width: 1750px){
    .header,
    .menu,
    .menu__list li a{
        min-width: 14rem;
    }
    .header-box{
        width: 30rem;
    }
    .header-box__btn{
        width: 250px;
    }
    .logo,
    .header-box__btn {
        margin-bottom: 4rem;
    }
    .menu__list li{
        margin-bottom: 2rem;
    }
}



@media(max-width: 1600px){
    html{
        font-size: 9px;
    }
    .offer-block__right-promotion,
    .offer-block__right-text,
    .offer-block__right-btn{
        margin-left: 14rem;
    }
    .offer-block__right-promotion{
        font-size: 3rem;
    }
    .offer-block__right-text,
    .offer-block__right-text{
        font-size: 2.7rem;
        line-height: 3.1rem;
    }
    .offer{
        background-position-x: -15rem;
    }
    .slider-box__item{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .slider-box__right{
        width: 100%;
        background-color: #fff;
        padding: 2rem;
    }
    .slider-box__right-title{
        font-size: 5rem;
        max-width: 100%;
    }
    .slider-box__right{
        margin-left: 0;
    }
    .slider-box{
        max-width: 90rem;
    }
    .slider-box__right-text{
        background-color: transparent;
    }
   
    .problem-box__item--right .problem-box__item-text:nth-child(odd):before{
        left: -145px;
    }
    .problem-box__item--left .problem-box__item-text:nth-child(odd)::after{
        right: -145px;
    }
    .problem-box__item--right .problem-box__item-text::before{
        left: -100px;
    }
    .problem-box__item--left .problem-box__item-text::after{
        right: -100px;
    }
    .beadrcrumbs{
        margin-top: 9rem;
    } 
    .director-block__text::before,
    .director-block__text::after{
        display: none;
    }
    .slider .slick-next, .slider .slick-prev{
        top: 35%;
    }
    .good-block__right-text,
    .good-block__item-title{
        font-size: 16px;
    }
    .services-box__item-popular::before {
        top: 6px;
        left: 23px;
    }
   
}




@media(max-width: 1400px){
    .form-services{
        padding: 2rem;
        padding-bottom: 0;
    }
    .form-services__right{
        margin-top: 4rem;
    }
    .form-services__right img{
        margin: 0 auto;
    }
    .form-services__box{
        flex-wrap: wrap;
        gap: 20px;
    }
    .form-services__box-input,
    .form-services__box-btn{
        max-width: 100%;
        margin-left: 0;
    }
    .footer-block__map{
        width: 100%;
        height: 500px;
        position: relative;
    }
    .footer-block__contact{
        padding: 2rem;
        width: 100%;
    }
    .footer-block{
        padding-top: 5rem;
        flex-direction: column;
    }
    .offer-block__left-img{
        display: block;
    }
    .offer{
        background: none;
    }
    .offer-block__right-promotion,
    .offer-block__right-text,
    .offer-block__right-btn{
        margin-left: 0;
    }
    .offer-block__right-promotion{
        margin-bottom: 2rem;
    }
    .services-home__item{
        font-size: 2.4rem;
    }
    .services-home__item{
        max-width: 23rem;
        padding-bottom: 1rem;
    }
    .services-link{
        flex-wrap: wrap;
    }
    .services-home{
        padding: 3rem 0 3rem 0;
    }
    .slider-box{
        max-width: 60rem;
    }
    
    .director-block__text{
        width: 100%;
    }
    .successes{
    padding-top: 0;
       background: none;
    }
    .successes-block__img{
        margin-bottom: 2rem;
        display: block;
        order: -1;
    }
    .successes-block__content-title{
        font-size: 4rem;
        line-height: 4.4rem;
    }
    .successes-block__content{
        margin-left: 0;
    }
    .good-block__left img{
        width: 100%;
    }
    .specialists__title{
        font-size: 5rem;
    }
    .treatment-box__img{
        height: auto;
        margin-bottom: 20px;
    }
    .offer{
        padding-top: 0;
    }
      .problem-box__item--left .problem-box__item-text::after, .problem-box__item--right .problem-box__item-text::before{
         display: none;
     }
   
}


@media(max-width: 1200px){
    .beadrcrumbs{
        margin-top: 14rem;
    }
    .modal-box{
        padding: 1rem;
    }
    .modal-box__title{
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 1rem;
    }
    .modal-box__text{
        margin-bottom: 10px;
    }
    .modal-box__img{
        display: none;
    }
    .tabs__content{
        flex-direction: column;
    }
    .tabs__left,
    .tabs__left{
        width: 100%;
    }
    .lutronic{
        padding: 3rem;
    }
    .specialists-block__img{
        margin: 0 auto 20px auto;
    }
    .job-box__item{
        margin-bottom: 30px;
    }
    .stock-block__right-link{
        font-size: 18px;
    }
    .total-block__right{
        margin-bottom: 30px;
    }
    .problem-box__item--right{
        display: none;
    }
    
}



@media(max-width: 1000px){
    html{
        font-size: 8px;
    }
    .services-page__item{
        text-transform: none;
    }
    .slider-box__right-title{
        font-size: 4rem;
        line-height: 4.4rem;
    }
    .slider-box__right-subtitle{
        font-size: 3rem;
    }
    .slider-box{
        max-width: 40rem;
    }
    .slider-box__left img{
        width: 400px;
    }
    .slider-services .slider-services__item-popular::before{
        top: 6px;
        left: 23px;
    }
    .heading-block--btn img{
        width: 150px;
    }
    .about__title h1{
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .stiky-menu__list li a{
        padding: .5rem;
        text-transform: none;
    }
    .stiky-menu__list{
        row-gap: 20px;
        column-gap: 10px;
    }
    .header-box__btn{
        width: 240px;
        height: 6rem;
        line-height: 6rem;
    }
    .beadrcrumbs{
        margin-top: 11rem;
    }
    .services-box--page .services-box__item-popular::before{
        top: 5px;
        left: 18px;
    }
    .treatment-box__text p,
    .causes__list-item,
    .causes__text{
        font-size: 16px;
    }
    .reviews-box,
    .reviews-form__top{
        flex-direction: column;
    }
    .reviews-form__item{
        width: 100%;
    }
    .genius-box__content-text{
        font-size: 16px;
    }
    .stock-block:nth-child(2) .stock-block--order{
        order: 1;
    }
    .offer-block__left-img{
        width: 100%;
    }
}





@media(max-width: 768px){
    .services-box__item-popular{
        margin-top: -15px;
        margin-bottom: 5px;
    }
    .services-box__item-popular::before{
        top: 6px;
        left: 17px;
    }
    .footer__bottom{
        padding-bottom: 8rem;
    }
    .good-block__right{
        order: -1;
    }
    .good{
        padding: 3rem 0 4rem 0;
    }
    .good-block__right-text,
    .good-block__item-title{
        font-size: 18px;
        line-height: 22px;
    }
    .slider-box{
        max-width: 100%;
    }
    .slider-box__right-text,
    .slider-box__right-text p{
        padding: 0;
        margin-left: 0;
        font-size: 16px;
        line-height: 20px;
    }
    .slider-box__right-btn{
        height: 6rem;
        line-height: 6rem;
        max-width: 200px;
        margin-left: auto;
    }
    .problem{
        padding: 4rem 0 4rem 0;
    }
    .problem--problem{
        padding-top: 0;
    }
    .beadrcrumbs{
        margin-top: 7rem;
    }
   
    .director-block__content{
        margin-left: 0;
    }
    .director-block__content-img{
        width: 170px;
        margin-bottom: 2rem;
    }
    .about-picture__text{
        padding: 2rem;
    }
    .about-picture__text p{
        font-size: 16px;
    }
    .about-picture{
        margin-bottom: 0;
    }
    .successes-block__img{
        margin-top: 5rem;
    }
    .good--about .good-block__right{
        order: 1;
    }
    .logo-mobile .logo{
        padding-top: 20px;
    }
    .slider-box__right{
        background-color: #fff;
        padding: 2rem;
    }
    .slider .slick-next,
    .slider .slick-prev{
        width: 100px;
        top: 27%;
        height: 170px;
    }
    .slider .slick-next {
        right: calc(5% - 115px);
    }
    .slider .slick-prev{
        left: 12px;
    }
    .slider-services .slider-services__item-popular::before {
        top: 5px;
        left: 18px;
    }
    .services-box--page .services-box__item-popular::before {
        top: 5px;
        left: 18px;
    }
    .job-box__item{
        margin-bottom: 30px;
    }
    .contacts{
        padding: 0 0 4rem 0;
    }
    .modal-box{
        width: 300px;
        padding: 3rem;
        position: fixed;
        z-index: 2;
    }
    .modal-box__text{
        font-size: 16px;
    }
    .treatment__title,
    .services__page-title{
        font-size: 5rem;
        line-height: 5rem;
    }
    .job-box__item-img{
        margin: 0 auto 15px auto;
    }
    .job-box__item-title,
   .job-box__item-text{
        text-align: center;
   }
   .menu-stiky{
        top: 110px;
   }
}







@media(max-width: 576px){
    .services__page-title,
    .reviews__title,
    .total__title{
        margin-bottom: 2rem;
        font-size: 32px;
        line-height: 36px;
    }
    .specialists__title,
    .present__title{
        margin-bottom: 0;
        padding: 10px 0;
        font-size: 32px;
        line-height: 32px;
    }
    .problem__title,
    .treatment__title{
        font-size: 32px;
        line-height: 32px;
    }
    .title{
        margin-bottom: 20px;
        font-size: 27px;
        line-height: 29px;
    }
    .services-box__item-title,
    .contacts-block__item-title{
        margin-bottom: 1rem;
        font-size: 24px;
        line-height: 1.1;
    }
    .services-page__item{
        padding: 1rem;
    }
    .services-page__link{
        margin-bottom: 2rem;
        padding-left: 0;
    }
    .services-box__item-text,
    .footer-block__contact-text,
    .contacts-block__item-text{
        font-size: 18px;
        line-height: 22px;
    }
    .beadrcrumbs__list li a{
        font-size: 16px;
    }
    .beadrcrumbs{
        padding: 1rem;
    }
    .beadrcrumbs__list li:nth-child(2)::before{
        top: 0;
        left: -14px;
    }
    .form-services__left-title,
    .specialist-info__title{
        margin-bottom: 3rem;
        font-size: 24px;
        line-height: 1.1;
    }
    .form-services__box-text{
        font-size: 18px;
    }
    .form-services__box{
        gap: 1rem;
    }
    .form-services__box-input,
    .form-services__box-btn{
        height: 6rem;
        line-height: 6rem;
    }
    .footer-block__map{
        display: none;
    }
    .footer-block{
        padding-top: 3rem;
    }
    .footer-block__contact-title,
    .slider__title{
        font-size: 24px;
        line-height: 1.1;
    }
    .footer-block__contact{
        padding: 0;
    }
    .good-block__right-title,
    .offer__title{
        margin-bottom: 2rem;
        font-size: 24px;
        line-height: 24px;
    }
    .good-block__item{
        width: 100%;
    }
    .good-block__item-title{
        font-size: 20px;
    }
    .good-block__item-title{
        margin-left: 1.5rem;
    }
    .good-block__item img{
        width: 40px;
    }
    .offer{
        padding: 0rem 0 3rem 0;
    }
    .offer__title{
        margin-bottom: 0;
    }
    .offer-block__left-img{
        margin-bottom: 2rem;
    }
    .offer-block__right-promotion{
        font-size: 2.2rem;
    }
    .offer-block__right-text, .offer-block__right-text{
        font-size: 18px;
        line-height: 22px;
    }
    .offer-block__right-btn{
        max-width: 200px;
        margin-left: auto;
        height: 5rem;
        line-height: 5rem;
        margin-top: 0;
    }
    .services-home__item{
        display: none;
        padding-bottom: 0;
    }
    .services-home__item--mobile{
        display: block;
    }
    .slider-services__item{
       margin: 0 5px 20px 5px;
    }
    .slider-services__item-title{
        margin-bottom: 5px;
        font-size: 24px;
        line-height: 1.1;
    }
    .slider-services .slick-list {
        padding: 0 30px !important;
    }
    .services-home{
        padding-top: 0;
    }
    .slider-box .slick-dots li button{
        width: 10px;
        height: 10px;
    }
    .slider-box__right-title{
        margin-bottom: 2rem;
        font-size: 22px;
        line-height: 26px;
    }
    .slider-box__right-subtitle{
        margin-bottom: 2rem;
        font-size: 20px;
        line-height: 24px;
    }
    .problem-box .problem-box__item-inner{
        width: 50% !important;
    }
    .problem-box__item--left .problem-box__item-text, .problem-box__item--right .problem-box__item-text{
        padding: 1rem;
        font-size: 16px;
    }
    .problem__title{
        margin-bottom: 20px;
    }
    .logo-mobile .logo img{
        width: 120px !important;
    }
    .form-services {
        margin-bottom: 4rem;
    }
    .about__title h1{
        font-size: 27px;
        line-height: 31px;
        margin-top: 3rem;
    }
    .heading-block--btn img{
        width: 65px;
    }
    .good-block__left{
        margin-top: 4rem;
    }
    .director-block__text p{
        font-size: 18px;
        line-height: 24px;
    }
    .director-block__content-title{
        font-size: 24px;
    }
    .director-block__content-subtitle{
        font-size: 22px;
    }
    .director{
        padding-bottom: 4rem;
    }
    .successes-block__content-title,
    .services-box__wrapper-title,
    .stock-block__right-title{
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 1.1;
    }
    .successes-block__content-text{
        margin-bottom: 15px;
        font-size: 18px;
    }
    .beadrcrumbs--services{
        margin-top: 10rem;
    }
    .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }
    .good-block__left img{
        transform: translateX(-9px);
    }
    .slider .slick-next {
        right: calc(5% - 105px);
    }
    .director-block__content-img{
        width: 110px;
   }
   .job-box__item-img,
   .job-box__item-title{
    margin-bottom: 10px;
   }
   .job-box__item-title,
   .job-box__item-text{
        font-size: 22px;
        text-align: center;
   }
   .specialist-info__list,
   .certificates-box__item,
   .contacts-block__item{
    margin-bottom: 2rem;
   }
   .job-box{
    margin-bottom: 0;
   }
   .modal-box__title{
    margin-bottom: 10px;
    font-size: 24px;
}
    .present-box__item-img{
        margin-bottom: 20px;
    }
    .present__text{
        font-size: 16px;
    }
    .reviews-box__img{
        min-width: 150px;
        height: 150px;
    }
    .reviews-box__img img{
        width: 150px;
    }
    .reviews-box__info-title{
        margin-bottom: 20px;
    }
    .reviews-block__item,
    .reviews-form__item{
        flex-direction: column;
        gap: 1.5rem;
    }
    .reviews-block__left-img{
        width: 90px;
    }
    .reviews-form__item span{
        min-width: auto;
        text-align: left;
        font-size: 16px;
        width: 100%;
    }
    .reviews-form__item-input{
        width: 100%;
    }
    .reviews-form{
        padding: 2.5rem;
    }
    .reviews-form__text{
        margin-bottom: 10px;
        font-size: 16px;
    }
    .reviews-form__item-input{
        height: 45px;
        line-height: 45px;
    }
    .reviews-form__textarea{
        height: 100px;
    }
    .reviews-form__btn{
        width: 100%;
        height: 45px;
        line-height: 45px;
    }
    .genius{
        padding: 0 0 3rem 0;
    }
    .price{
        padding-top: 3rem;
    }
    .price-block{
        padding: 2rem;
    }
    .specialists__inner,
    .specialists-block__content{
        padding: 2rem;
    }
    .specialists-block__content-title{
        margin-top: 10px;
        font-size: 22px;
    }
    .specialists-block__content-subtitle{
        font-size: 22px;
    }
    .stock__title{
        padding: 0;
    }
    .stock-block__content,
    .stock-block{
        padding: 20px;
    }
    .stock-block__left{
        margin-bottom: 20px;
    }
    .stock-block{
        background-position: center;
    }
    .stock-wrapper{
        padding-bottom: 0;
    }
    .total-block__item-input{
        height: 45px;
        line-height: 45px;
    }
    .total-block__item-text{
        font-size: 16px;
    }
    .total-block__item{
        margin-bottom: 3rem;
    }
    .total-block__item-textarea{
        height: 15rem;
    }
    .total-block__item-btn{
        width: 100%;
        margin-left: 0;
    }
    .total-block__btn{
        width: 100%;
    }
    .slider-about{
        margin-bottom: 3rem;
    }
    .good--about{
        margin-bottom: 3rem;
    }
    .tabs__item{
        flex-direction: column;
    }
    .tabs__item-btn{
        padding: 1rem;
        font-size: 24px;
        text-transform: none;
    }
    .lutronic{
        padding: 1rem;
    }
    .price-box__item{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .stock-block__content{
        margin-bottom: 2rem;
    }
    .stock-block__right-link{
        margin-left: 0;
        height: 50px;
        line-height: 50px;
        max-width: 100%;
        
    }
    .stock-block,
    .stock-block__content{
        padding-left: 10px;
        padding-right: 10px;
    }
    .stock-block__right-link::after{
        right: auto;
    }
    .stock-block__content-title{
        line-height: 22px;
    }
    .specialists__inner{
       padding: 0;
    }
    h1.contact__title{
        margin-top: 0;
    }
    .feedback-box__label-checkbox{
        width: 20px;
        height: 20px;
    }
    .form-services__right img{
        width: 60%;
    }
    .slider .slick-prev::before{
        width: 45px;
        height: 45px;
        top: 26%;
        background: url('../images/home/arrow_left-mobile.png') no-repeat;
        background-position: center;
    }
    .slider .slick-next::before{
        width: 45px;
        height: 45px;
        top: 26%;
        background: url('../images/home/arrow_right-mobile.png') no-repeat;
        background-position: center;
    }
    .slider .slick-prev{
        width: 70px;
        height: 110px;
        left: 8px;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    .slider .slick-next{
        width: 72px;
        height: 106px;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        right: calc(5% - 80px)
    }
}
