.reviews{
    padding: 2rem 0 5rem 0;
}
.reviews__title {
    margin-bottom: 5rem;
    font-size: 6rem;
    line-height: 6.4rem;
}
.reviews-box {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.reviews-box__img {
    min-width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.reviews-box__info {
    max-width: 111rem;
}
.reviews-box__info-title {
    margin-bottom: 4rem;
    font-size: 3.4rem;
}
.reviews-box__info-text {
    font-size: 18px;
    line-height: 1.4;
}
.reviews-block {
    margin-bottom: 5.5rem;
}
.reviews-block__title {
    margin-bottom: 4rem;
    border-bottom: 1px solid #73aebe;
}
.reviews-block__item {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    border: 1px solid #bebebe;
}
.reviews-block__left-img {
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}
.reviews-block__left-name {
    margin-bottom: 10px;
    font-size: 2.8rem;
    text-align: center;
}
.reviews-block__left-date {
    text-align: center;
    font-size: 18px;
    color: #a0a5a3;
}
.reviews-block__left-text {
    max-width: 110rem;
    font-size: 18px;
    line-height: 1.4;
    color: #a0a5a3;
}
.reviews-form__title {
    margin-bottom: 3rem;
}
.reviews-form {
    padding: 3.5rem;
    border: 1px solid #bebebe;
    background-color: #fff;
}
.reviews-form__top {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.reviews-form__item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.reviews-form__item span{
    width: 20%;
    min-width: 110px;
    font-size: 2.8rem;
    text-align: right;
    color: #000;
}
.reviews-form__item-input {
    display: block;
    padding: 0 2rem;
    width: 90%;
    height: 64px;
    line-height: 64px;
    border: 1px solid #434343;
    background-color: #fff;
    font-size: 2.4rem;
}

.reviews-form__text {
    margin-bottom: 2rem;
    font-size: 2.8rem;
}
.reviews-form__textarea {
    margin-bottom: 3rem;
    padding: 2rem;
    width: 100%;
    height: 170px;
    resize: none;
    border: 1px solid #434343;
    font-size: 2.4rem;
}
.reviews-form__btn {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 55px;
    font-size: 16px;
    line-height: 55px;
    text-align: center;
    border: none;
    color: #fff;
    background: #73aebe;
}