.total {
}
.container-fluid {
}
.total__title {
    margin-bottom: 5rem;
    font-size: 6rem;
    line-height: 6.4rem;
}
.total-block__item {
    margin-bottom: 5rem;
}
.total-block__item-title {
    margin-bottom: 3rem;
    line-height: 1.1;
    border-bottom: 1px solid #73aebe;
}
.total-block__item-input {
    margin-bottom: 2rem;
    padding: 0 2rem;
    width: 100%;
    height: 79px;
    font-size: 2.8rem;
    color: #000;
    line-height: 79px;
    border: 1px solid #bebebe;
}
.total-block__item-text {
    margin-bottom: 10px;
    font-size: 18px;
}
.total-block__item-textarea {
    width: 100%;
    height: 23rem;
    resize: none;
    margin-bottom: 10px;
}
.total-block__item-btn {
    display: block;
    margin: 0 0 5rem auto;
    width: 33rem;
    height: 50px;
    line-height: 50px;
    font-size: 2.2rem;
    background: #73aebe;
	color: #fff;
    border: none;
}
.total-block__right-img {
    margin-bottom: 3rem;
}
.feedback-box__label {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-box__label-input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.feedback-box__label-checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(205, 205, 205);
}
.feedback-box__label-input:checked+ .feedback-box__label-checkbox{
    background: url('../images/home/checkbox.svg') no-repeat;
    background-position: center;
}
.feedback-box__checkbox-text {
    margin-left: 1rem;
    font-size: 1.8rem; 
}
.feedback-box__checkbox-text a{
    color: #73aebe;
}
.total-block__btn {
    display: block;
    margin: 0 auto;
    width: 33rem;
    height: 50px;
    line-height: 50px;
    font-size: 2.2rem;
    background: #73aebe;
	color: #fff;
    border: none;
}
.total-block.row>*{
    padding-right: calc(var(--bs-gutter-x)* 2);
}
